Package: moe.schwarzkatz.noupdatepls
Name: NoUpdatePls
Version: 0.2
Architecture: iphoneos-arm
Description: Disables software updates by modifying /etc/hosts
Homepage: https://github.com/Bl4Cc4t
Maintainer: Schwarzkatz
Author: Schwarzkatz
Sponsor: lel
Section: Tweaks
